body {
  background-color: rgb(221, 221, 225);
}

table {
  border: 1px solid rgb(197, 195, 195);
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

td.test {
  text-align: left;
  width: 20px;
}

td.test2 {
  text-align: left;
  width: 300px;
}

td.test3 {
  text-align: center;
  width: 30px;
}

tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
  color: black;
}

.scoreinput {
  margin: 7px;
  padding: 10px;
  width: 95%;
  border: none;
  border-radius: 5px;
}

.headingTable {
  background-color: rgb(215, 212, 212);
  border: none;
  padding: 20px;
  color: rgb(7, 7, 148);
}

.add_score_heading {
  color: rgb(7, 7, 148);
}

.recent_score {
  padding-left: 10px;
}
