body {
  background-color: rgb(234, 234, 239);
  text-align: center;
}

table {
  border: 1px solid black;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

td.test {
  text-align: right;
  width: 10px;
}

td.test2 {
  text-align: left;
  width: 400px;
}

td.test3 {
  text-align: center;
  width: 30px;
}

tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
  color: black;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.scoreinput {
  margin: 7px;
  padding: 10px;
  width: 95%;
  border: none;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-family: arial, sans-serif;
  text-align: left;
  padding: 10px;
}

.container > div {
  margin: 10px;
  text-align: center;
  font-size: 20px;
}
